# phalcon-specific
/cache/**
.env
/.phalcon/**

# npm
.DS_Store
node_modules/
/dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/

/devsample.json

# dist files
/public/static/*/**

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
